<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EBangKe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>944D8ECC1FF3A35400E70437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944D8EE01FF3A35500E70437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944D8EEB1FF3A35500E70437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
